body {
    color: #fff;
    background-color: #4F8BF9;
}

.stButton>button {
    color: black;
    background-color: #4CAF50;
    border-radius: 0%;
    height: 100%;
    width: 100%;
}

.stSpinner>spinner {
    border-radius: 0%;
    height: 100%;
    width: 100%;
}

.stTextInput>div>div>input {
    color: #4F8BF9;
}